.image-upload-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.image-preview {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    background-color: #f9f9f9;
    max-width: 320px;
    width: 80%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.image-preview p {
    margin: 0;
}

.image-preview img {
    max-width: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-overlay p {
    margin: 0;
    margin-bottom: 10px;
}

.image-upload-container button {
    color: #e80a0a;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.image-preview:hover .image-overlay {
    opacity: 1;
}