.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0; 
  visibility: hidden;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal-content.image-modal {
      max-width: 65%;
    max-height: 65%;
}
.modal-content {
  position: relative;
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
  z-index: 2;
  transform: scale(0.8); 
  animation: zoomIn 0.5s ease-out forwards;  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  opacity: 0;
  animation: fadeOverlay 0.5s ease-in-out forwards;
}

.timeline {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.timeline-date {
    align-items: center;
    border: 1px solid #f4836c;
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 8px;
}
.timeline-box {
    align-items: flex-start;
    display: flex;
    margin-bottom: 20px;
}
.timeline-box:not(:last-of-type):after {
    background: red;
    background-color: #69b3f0;
    bottom: 0;
    content: "";
    height: 12px;
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    top: 20px;
    width: 1px;
}
.timeline-icon {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-right: 2%;
    padding: 10px;
    z-index: 1;
}
.timeline-content {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
    flex: 1 1;
    min-width: 50%;
}
.comment-timeline {
    border-bottom: 1px solid #dbdbdb;
    padding: 16px;
}
.timeline p {
    font-size: 14px;
    margin: 0;
}
.comment-message {
    font-size: 14px;
    padding: 16px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8); 
  }
  100% {
    transform: scale(1); 
  }
}

.zoomed-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}

.details-modal {
  width: 100%;
  height: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 16px;
  background-color: #fe6960;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d34913;
}

button:hover {
  color: #fff;
}
