.header {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: 72px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s;
  display: none;
}

.menu-button:hover {
  background-color: transparent;
}

.menu-icon {
  width: 20px;
  height: 20px;
  color: #4b5563;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand-logo img {
  width: 150px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-button:hover {
  background-color: transparent;
}

.user-avatar {
  width: 32px;
  height: 32px;
  background-color: #d1d5db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 16px;
  height: 16px;
  color: #555;
}

.user-name {
  color: #555;
}

.dropdown {
  position: absolute;
  top: 72px;
  right: 16px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 185px;
  z-index: 40;
  font-size: 14px;
}

.dropdown-item {
  width: 100%;
  padding: 10px 16px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #555;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
    color: #d75623;
    border-radius: 0px;
    background-color: transparent;
}

.sdropdown-container {
  position: relative;
}

.sdropdown {
  position: absolute;
  top: 50px; 
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 0;
  z-index: 1000;
  min-width: 120px;
  right: 36px;
}
.sdropdown-option:not(:last-child){
  border-bottom: 1px solid #eaeaea;
}

.sdropdown-option {
  padding: 8px 16px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.sdropdown-option:hover {
  background-color: #f0f0f0;
}
.search-box {
  position: relative;
}
.search-icon-manage {
  position: absolute;
  top: 7px;
  left: auto;
  right: 7px;
}
.profie-name-email {
    border-bottom: 1px solid #ccc;
    color: #333;
    margin-bottom: 8px;
    padding: 12px 16px;
}
@media (max-width: 1024px) {
  .menu-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .brand-title {
    display: none;
  }

  .search-container {
    display: none;
  }

  .user-name {
    display: none;
  }
}
