.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  width: 100%;
  min-height: 160px;
  border: 2px dashed #ccc;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-lists {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.image-lists input {
  width: 120px;
  margin-top: 0 !important;
}

.image-wrapper,
.pos-image-wrapper {
  position: relative;
  margin: 10px;
}

.image-wrapper img,
.image-wrapper div {
  min-width: 160px;
  max-width: 160px;
  min-height: 160px;
  max-height: 160px;
}

.pos-image-wrapper img,
.pos-image-wrapper div {
  min-width: 120px;
  max-width: 200px;
  min-height: 120px;
  max-height: 120px;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .image-overlay,
.pos-image-wrapper:hover .image-overlay {
  opacity: 1;
}

.delete-button {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.input-multi-pos input {
  width: 100%;
  max-width: 100%;
  padding: 13px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 8px;
  outline: none;
  width: 120px;
}
