.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.log-popup .popup-content {
  width: 40%;
}
.popup-content {
  background-color: #fff;
  padding: 0 2%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 750px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  max-height: 600px;
  min-height: 320px;
  animation: zoomIn 0.3s ease-out;
  overflow-y: auto;
}

.modal-header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #f4836c;
}
.modal-header {
  padding: 16px 0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-bottom: 15px;
}
.btn-cancel,
.btn-confirm {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
.btn-confirm {
  background-color: #e63f3f;
  color: #fff;
}
.btn-cancel {
  background: #fdf2ee;
  border: 1px solid #f4836c;
  color: #f4836c;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.popup .modal-body {
  padding: 16px 0;
}

@media only screen and (max-width: 480px) {
  .modal-header h3 {
    font-size: 18px;
  }
  .popup-content {
    margin: 8px 16px;
    max-height: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .modal-header h3 {
    font-size: 18px;
  }
  .popup-content {
    margin: 8px 16px;
    max-height: 100%;
  }
}
