.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  
  .search-input input {
    min-width: 120px;
    max-width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    min-height: 40px;
    outline: none;
  }
  .search-input input::placeholder {
    color: #000;
  }