.sidebar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  display: none;
}

.sidebar {
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
  width: 195px;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-close {
  display: none;
  justify-content: flex-end;
  padding: 8px;
}


.sidebar-brand-logo img {
  width: 180px;
  max-width: 500px;
  height: 70px;
}
.close-button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0px;
}

.close-button:hover {
  background-color: transparent;
}

.close-icon {
  width: 20px;
  height: 20px;
  color: #4b5563;
}

.sidebar-nav {
  flex: 1;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px; 
  border-radius: 8px;
  transition: all 0.2s;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  color: #555;
  text-decoration: none;
  box-sizing: border-box; 
  font-size: 14px;
}

.nav-item-active {
  background-color: #eff6ff;
  color: #fe6960;
  border-left: 4px solid #fe6960;
  padding-left: 16px; 
}
.nav-item:hover {
  background-color: #f9fafb;
  color: #111827;
}

.nav-icon {
  width: 20px;
  height: 20px;
  color: #555;
}

.nav-icon-active {
  color: #fe6960;
}

.nav-label {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.sidebar-footer {
  padding: 16px;
  border-top: 1px solid #e5e7eb;
}

.footer-text {
  font-size: 12px;
  color: #6b7280;
  text-align: center;
}
.lock-parent {
  pointer-events: none;
}

.lock-parent .side-content {
  pointer-events: auto;
}
@media (min-width: 1024px) {
  .sidebar {
    position: fixed;
    transform: translateX(0);
    box-shadow: none;
    top: 72px;
  }
  
  .sidebar-overlay {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .sidebar-overlay {
    display: block;
  }
  
  .sidebar-close {
    display: flex;
  }
}