/* Sidebar container */
.sidebar {
  width: 200px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 60 px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
      transform: translate(-100%);
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Close button and logo */
.sidebar-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.sidebar-brand-logo img {
  height: 32px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
}

/* Main heading */
.sidebar-main-heading {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  padding: 0 16px;
  margin-top: 8px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s ease;
}

.menu-heading.heading-active, .menu-heading:hover {
  background-color: #f9f9f9;
}

/* Submenu */
.submenu {
  padding-left: 4px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Nav items */
.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
    justify-content: flex-start;
    border-left: solid 3px transparent;
}

.nav-item-active, .nav-item:hover {
    background-color: #f9f9f9c4;
    color: #144c97;
    border-left: solid 3px;
    margin-left: 4px;
}

.nav-icon {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.sidebar-footer {
    margin-top: auto;
    padding: 16px 22px;
    font-size: 12px;
    color: #aaa;
    text-align: center;
    position: fixed;
    bottom: 0;
}
