.tooltip {
  position: absolute;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 99;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  top: 60%;
  left: 50%;
  transform: translateX(-20%) rotate(45deg);
  z-index: -1;
}

.icon:hover .tooltip {
  opacity: 1;
}
