.input-field-position {
  width: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-field-position:focus {
  outline: none;
  border-color: #66afe9; /* Highlight color on focus */
  box-shadow: 0 0 5px #66afe9; /* Optional: Adding a subtle shadow on focus */
}

.delete-icon {
  color: #ff0000;
}

.icon.delete-icon:hover,
.icon.edit-icon:hover,
.icon.mail-icon:hover {
  color: #2e28f6;
  transition: color 0.3s ease;
}

.custom-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 14px;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 2px;
  margin-top: 2px;
}

.custom-toggle::before {
  content: "";
  flex: 0 0 50%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.custom-toggle.toggle-on {
  background-color: #fa3d7f;
}

.custom-toggle.toggle-on::before {
  transform: translateX(100%);
}

.custom-toggle.toggle-off {
  background-color: #8e8c8c;
}
.custom-toggle svg {
  opacity: 0;
}

.custom-toggle.toggle-off::before {
  transform: translateX(0);
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox.disabled {
  cursor: not-allowed;
}

.checkmark {
  position: absolute;
  top: -9px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #76838f;
  border-radius: 4px;
}

.custom-checkbox.disabled .checkmark {
  background-color: #e5e5e5;
}

.custom-checkbox input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #f4836c;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  width: 4px;
}
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmation-dialog {
  background: #fff;
  padding: 46px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 380px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.btn-cancel,
.btn-confirm,
.common-btn {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-confirm {
  background-color: #144c97;
  color: #fff;
}
.auto-assign{
  min-width: 80px;  
}
.myteam-filters .clear,.myteam-filters .clear:hover{
  background: #fdf2ee;
  border: 1px solid #144c97;
  color: #144c97;
}